---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";

import { contentfulClient } from "../lib/contentful";

const adventureEntries = await contentfulClient.getEntries<any>({
  content_type: "adventureLocation",
});

const adventureLocationSelected =
  adventureEntries.items[0].fields.adventureLocation;

const contentfulData = await contentfulClient.getEntries<any>({
  content_type: "faQs",
});
const faqs = contentfulData.items[0].fields.questionsAndAnswers;

const contactDetails = await contentfulClient.getEntries<any>({
  content_type: "hitUsUp",
});

const whatsapp = contactDetails.items[0].fields.whatsapp
  ? contactDetails.items[0].fields.whatsapp
  : null;
const email = contactDetails.items[0].fields.email
  ? contactDetails.items[0].fields.email
  : null;
const call = contactDetails.items[0].fields.call
  ? contactDetails.items[0].fields.call
  : null;
---

<Layout title="Breakneck | FAQs">
  <Header
    adventureLocation={adventureLocationSelected}
    selectedField={"faqs"}
    client:load
  />
  <main>
    <section>
      <h1>FAQs</h1>
      {
        faqs.map((faq: any) => {
          return (
            <div class="faqs">
              <h2>{faq.fields.heading}</h2>
              <div class="para-styling">
                {faq.fields.body.content.map((content: any) => {
                  return <p>{content.content[0].value}</p>;
                })}
              </div>
            </div>
          );
        })
      }
      <div class="social">
        {
          whatsapp ? (
            <a
              href={`https://wa.me/${whatsapp}`}
              target="_blank"
              style={whatsapp ? "display:flex" : "display:none"}
              class="whatsapp"
            >
              <p class="text">Whatsapp</p>
            </a>
          ) : null
        }
        {
          call ? (
            <a href={`tel:${call}`} class="call">
              <p class="text">Call</p>
            </a>
          ) : null
        }

        {
          email ? (
            <a href={`mailto:${email}`} target="_blank" class="email">
              <p class="text">Email</p>
            </a>
          ) : null
        }
      </div>
    </section>
  </main>
</Layout>
<style>
  main {
    margin-top: 128px;
    margin-bottom: 50px;
  }
  main h1 {
    font-size: 30px;
    line-height: 31px;
    margin-left: 33px;
    margin-bottom: 30px;
    color: #0349f7;
  }
  main h2 {
    padding: 0px;
    margin: 0px;
  }
  .faqs {
    display: grid;
    row-gap: 10px;
    margin-bottom: 30px;
    width: 218px;
  }
  .para-styling {
    display: grid;
    row-gap: 1 0px;
  }
  .text {
    text-transform: uppercase;
    font-family: "Brother";
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  .social {
    display: flex;
    column-gap: 7px;
  }

  .whatsapp {
    display: flex;
    background-color: #ff4800;
    width: 85px;
    height: 27px;
    justify-content: center;
    align-items: center;
  }
  .call {
    display: flex;
    background: #00d4c5;
    width: 74px;
    height: 27px;
    justify-content: center;
    align-items: center;
  }
  .email {
    display: flex;
    background: #0349f7;
    width: 74px;
    height: 27px;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 1024px) {
    main {
      margin-top: 318px;
      margin-bottom: 100px;
    }

    main h1 {
      display: none;
    }

    .faqs {
      row-gap: 15px;
      margin-bottom: 60px;
      width: 591px;
    }
    .para-styling {
      display: grid;
      row-gap: 15px;
    }
    .social {
      column-gap: 22px;
      margin-top: 100px;
      margin-bottom: 60px;
    }
    .whatsapp {
      width: 186px;
      height: 46px;
    }
    .call {
      display: none;
      width: 186px;
      height: 46px;
    }
    .email {
      width: 186px;
      height: 46px;
    }
    .text {
      font-size: 14px;
      line-height: 17px;
    }
  }
</style>
