---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.svelte";

import { contentfulClient } from "../lib/contentful";

const entries = await contentfulClient.getEntries<any>({
  content_type: "landingPage",
});

const desktopImageId = entries.items[0].fields.desktopImage.sys.id;
const mobileImageId = entries.items[0].fields.mobileImage.sys.id;
const assets = entries.includes.Asset;
const desktopImageUrl = assets.find(
  (asset: any) => asset.sys.id === desktopImageId
);
const mobileImageUrl = assets.find(
  (asset: any) => asset.sys.id === mobileImageId
);

const adventureLocation = entries.items[0].fields.adventureLocation;
const nextTripLocationName = entries.items[0].fields.nextTripLocationName;
const nextTripCoordinates = entries.items[0].fields.nextTripCoordinates;
const adventureName = entries.items[0].fields.adventureName;
const adventureDescription = entries.items[0].fields.adventureDescription;
const dates = entries.items[0].fields.dates;
---

<Layout title="Welcome to Astro.">
  <Header adventureLocation={adventureLocation} client:load />

  <main>
    <section>
      <div class="desktop-image">
        <img
          src={desktopImageUrl.fields.file.url}
          alt={desktopImageUrl.fields.description}
        />
      </div>
      <div class="mobile-image">
        <img
          src={mobileImageUrl.fields.file.url}
          alt={mobileImageUrl.fields.description}
        />
      </div>
    </section>
    <section class="black-box">
      <div class="red-box">
        <div class="font-style-2">
          <p>NEXT TRIP</p>
        </div>
        <div class="font-style-1">
          <h1>{nextTripLocationName}</h1>
        </div>
        <div style="font-size: 10px; line-height: 12px;">
          <p>{nextTripCoordinates}</p>
        </div>
        <div class="horizontal-line"></div>
        <div class="font-style-2">
          <p>ADVENTURE</p>
        </div>
        <div class="font-style-1">
          <h1>{adventureName}</h1>
        </div>
        <div style="font-size: 12px; line-height: 17px;">
          <p>{adventureDescription}</p>
        </div>
        <div class="horizontal-line"></div>
        <div class="font-style-2">
          <p>DATES</p>
        </div>
        <div class="font-style-1">
          <h1>{dates}</h1>
        </div>
        <div style="width: fit-content; padding-top: 7px;">
          <button>TELL ME MORE</button>
        </div>
      </div>
      <div class="quote">
        <h1>
        push your rush
      </h1>
      </div>
      <div>Name</div>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  main {
    background-color: black;
  }
  .desktop-image {
    display: none;
  }
  .mobile-image img {
    width: 100%;
  }
  .black-box {
    height: 400px;
    background-color: black;
  }
  .red-box {
    background-color: #ff4800;
    width: 84%;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    max-width: 303px;
    display: grid;
    row-gap: 8px;
    padding-top: 25px;
    padding-bottom: 28px;
  }
  .red-box div {
    padding-left: 29px;
    padding-right: 33px;
  }

  .font-style-1 {
    font-size: 35px;
    line-height: 36.05px;
  }
  .font-style-2 {
    font-size: 12px;
    line-height: 14.4px;
    letter-spacing: 0.05em;
  }
  .font-style-3 {
  }
  .horizontal-line {
    border-bottom: 1px;
    border-color: black;
    border-style: solid;
    margin-left: 29px;
    margin-right: 33px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .quote {
    width: 65%;
    max-width: 234.37px;
    color: white;
    padding-top: 248px;
    padding-left: 78px;
    font-size: 72px;
    line-height: 45px;
    transform: rotate(-3.51deg);
  }
  @media (min-width: 1024px) {
    .desktop-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .desktop-image img {
      width: 100%;
    }
    .mobile-image {
      display: none;
    }
  }
</style>
